html { 
    margin:0;
    padding:0;
    background: url(../images/git.png) no-repeat center fixed; 
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.card
{
    font-size:60%;
}

#load {
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    z-index: 9;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.9);
}


#load>img {
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    z-index: 9;
}

.col-md-6
{
    padding: 0;
}

.line
{
    border-right : 6px solid #88b950;
}

.icon {
    font-size: 75px;
}

span{
    font-display: bold;
}

body{
    line-height: 1;
    background-color: transparent !important; 
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: rgba(240, 79, 50, 0.9);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: white;
    background-color: rgba(240, 79, 50, 0.9);
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: rgba(240, 79, 50, 0.9);
    background-color: white;
}

